body {
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar {
    background: rgb(240, 100, 100);
    border: none !important;
    border-radius: 3px;
    box-shadow: 0px 9px 0px rgb(195, 85, 85);
    -webkit-box-shadow: 0px 9px 0px rgb(195, 85, 85);
    -moz-box-shadow: 0px 9px 0px rgb(195, 85, 85);
}

.item {
    color: white !important;
    font-family: 'Roboto', sans-serif;;
    font-weight: 100;
    font-size: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center !important;
}

.italic {
    font-style: italic;
    padding-right: 3px;
}

#navbar-collapse {
    border: none;
}

#heading {
    color: #C9699D;
    font-size: 120px;
    font-family: 'Leckerli One';
    text-align: center;
}

#subheading {
    font-size: 20px;
    text-align: center;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 35px;
}

.disclaimer {
    background: rgba(245, 125, 15, 0.15);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.jester-subheading {
    text-align: center;
    font-size: 30px;
}

.jester-blurb {
    text-align: center;
    /* Padding */
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
}

.jester-introduction {
    /* Margins */
    margin-top: 30px;
    /* Padding */
    padding-right: 5%;
    padding-left: 5%;
}

.jester-introduction-heading {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    word-spacing: 8px;
    margin-top: -40px;
}

.jester-introduction-body {
    text-align: center;
    font-size: 18px;
    line-height: 175%;
    /* Margins */
    margin-top: 20px;
    margin-right: 7.5%;
    margin-left: 7.5%;
}

.jester-button-container {
    text-align: center;
    /* Margins */
    margin-top: 50px;
}

.jester-button-subcontainer {
    height: 70px;
}

.jester-button {
    width: 250px;
    /* Border */
    border-radius: 4px;
    font-size: 18px;
    /* Padding */
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 7px;
    /* Margins */
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* Background Blue background with white text */
    background: rgba(42, 84, 124, 0.90);
    color: #ffffff;
    -webkit-box-shadow: 0px 9px 0px rgba(42, 84, 124, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 9px 0px rgba(42, 84, 124, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    box-shadow: 0px 9px 0px rgba(42, 84, 124, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    padding-bottom: 7px;
}

.jester-footer {
    clear: both;
    position: relative;
    height: 80px;
    width: 100%;
    text-align: center;
    margin-top: -80px;
    padding-right: 20px;
    padding-left: 20px;
}

.jester-image {
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: gray 1px solid;
    border-radius: 5px;
}

.jester-info-heading {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    padding-top: 30px;
}

.jester-info-body {
    font-size: 17px;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    line-height: 200%;
}

.learn-more {
    font-weight: 500;
    font-size: 19px;
    padding-top: 30px;
    line-height: inherit;
}

.text-holder {
    border: 1px solid gray;
    width: 900px;
}

.input-holder {
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 50px;
    padding-top: 2px;
    margin-top: 40px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    z-index: 100;
}

.input-field {
    display: inline-block;
    border: none;
    font-size: 18px;
    width: 350px;
    height: 40px;
    margin-left: 10px;
    outline: none;
}

.back-text {
    position: relative;
    z-index: 10;
    margin-top: -30px;
    margin-left: 30px;
    font-size: 18px;
    pointer-events: none;
}

.input-box {
    border: solid 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 55px;
    padding-top: 30px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.active-item {
    background: rgba(195, 82, 82, 0.69) !important;
}


a.brand {
    color: #ffffff !important;
}

.icon-bar {
    background-color: #ffffff !important;
    border: #ffffff 3px;
}

#toggle-button {
    border: none !important;
}

#toggle-button:hover {
    background: rgb(255, 179, 179);
}

.jester-info {
    color: rgb(99, 97, 109);
}

.nav-item {
    border: none;
    color: #ffffff;
    height: 50px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.info {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
}

.important {
    margin-top: 20px;
    border-radius: 3px;
    color: rgb(99, 97, 109);
    background: rgba(244, 123, 16, 0.22);
    padding: 10px;
}
