/* http://twitter.github.com/bootstrap/scaffolding.html#responsive */

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        font-size: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 940px) {
    body {
        font-size: 14px;
    }
}

/* Default: 940px and up  */
/* Large desktop */
@media (min-width: 1210px) {
    body {
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

.navbar {
    background: #F03832;
    border: none !important;
    /* Prevent Navbar edges from being rounded */
    border-radius: 0 !important;
    /* Shadows for the Navbar */
    box-shadow: 0 9px 0 #990F09;
    -webkit-box-shadow: 0 9px 0 #990F09;
    -moz-box-shadow: 0 9px 0 #990F09;
}

#navbar-collapse {
    border: none;
}

.item {
    color: white !important;
    font-size: 1.3em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
}

.item:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #774422;
    font-family: 'Lobster', sans-serif !important;
    text-align: center;
    margin-bottom: 0;
}

h1 {
    font-size: 6.0em;
}

h2 {
    font-size: 4.0em;
}

.icon-bar {
    border-color: #ffffff;
    background-color: #ffffff !important;
}

#toggle-button {
    border: none !important;
}

#toggle-button:hover, #toggle-button:focus {
    background: rgb(255, 179, 179);
}

.disclaimer {
    background: rgb(255, 241, 204);
    margin-top: 3em;
    padding: 15px;
    font-size: 1.3em;
    text-align: center;
}

.positive {
    background: #306896 !important;
}

#begin {
    width: 100%;
    padding: 10px;
    margin: 1.1em auto;
    font-size: 1.3em;

    /* Button shadow for 3D effect */
    box-shadow: 0 9px 0 #264064;
    -webkit-box-shadow: 0 9px 0 #264064;
    -moz-box-shadow: 0 9px 0 #264064;
}

/* Centers the Begin button */
#begin-button-holder {
    width: 250px;
    margin: auto;
}

.angular-modal {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    width: 500px;
}

.modal-heading {
    font-size: 20px;
    text-align: center;
}

input, label {
    margin: auto;
    width: 90% !important;
}

button.submit {
    background: rgba(42, 84, 124, 0.90) !important;
    width: 100px;
}

button {
    float: right;
    margin-left: 10px !important;
}

button.cancel {
    background: rgb(240, 100, 100) !important;
    width: 100px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.center {
    text-align: center;
}

.row {
    padding-top: 20px;
}

.press-image {
    width: 200px;
    height: 200px;
    border-radius: 125px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin: auto;
    margin-bottom: 20px !important;
    display: block;
}

.md-track {
    height: 7px !important;
    border-radius: 6px;
    background: -webkit-linear-gradient(left, red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, blue); /* Standard syntax */
}

div.md-track.md-track-fill {
    background: rgba(0, 0, 0, 0) !important;
}

.active-item {
    background: rgb(153, 15, 9) !important;
}

.link {
    color: white !important;
}

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}

.heading {
    display: inline-block;
    width: 49%;
    font-family: 'Lobster', sans-serif;
    font-size: 1.4em;
}

.md-focus-thumb, .md-thumb {
    background-color: #ffffff;
}

.joke {
    margin-top: 20px;
}

.joke > p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4em;
    line-height: 120% !important;
}

.slider-holder {
    display: block;
    max-width: 500px;
    margin: auto !important;
}

.md-thumb, .md-focus-thumb, .md-focus-ring  {
    margin-top: 9px;
}

div.md-track {
    height: 20px !important;
    border-radius: 20px;
}

.md-primary {
    margin-bottom: 25px !important;
}