/* http://twitter.github.com/bootstrap/scaffolding.html#responsive */

.navbar ul {
    width: 100%;
}

/* Navbar buttons should be width: 100% / num_buttons. */
@media (min-width: 780px) {
    .navbar li {
        width: 33%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        font-size: 10px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .navbar li {
        width: 100%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 940px) {
    body {
        font-size: 12px;
    }
}

/* Default: 940px and up  */
/* Large desktop */
@media (min-width: 1210px) {
    body {
        font-size: 14px;
    }
}

body {
    font-family: 'Roboto', "Helvetica Neue", sans-serif !important;
    font-weight: 300 !important;
}

.navbar {
    background: #1DBB5B;
    border: none !important;
    /* Prevent Navbar edges from being rounded */
    border-radius: 0 !important;
    /* Shadows for the Navbar */
    box-shadow: 0 9px 0 #055C24;
    -webkit-box-shadow: 0 9px 0 #055C24;
    -moz-box-shadow: 0 9px 0 #055C24;
}

#navbar-collapse {
    border: none;
}

.item {
    color: white !important;
    font-size: 1.4em !important;
    font-weight: 700;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center !important;
}

.item:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #774422;
    font-family: 'Lobster', sans-serif !important;
    text-align: center;
    margin-bottom: 0;
}

h1 {
    font-size: 6.0em;
}

h2 {
    font-size: 2.5em;
}

.icon-bar {
    border-color: #ffffff;
    background-color: #ffffff !important;
}

#toggle-button {
    border: none !important;
}

#toggle-button:hover, #toggle-button:focus {
    background: rgb(255, 179, 179);
}

.disclaimer {
    background: rgb(255, 241, 204);
    margin-top: 3em;
    padding: 15px;
    font-size: 1.2em;
    text-align: center;
}

.positive {
    background: #306896 !important;
}

.mouseover {
    border-radius: 10px;
    background: rgba(240, 129, 131, 0.0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#begin {
    width: 100%;
    padding: 20px;
    margin: 1.1em auto;
    font-size: 1.3em;

    /* Button shadow for 3D effect
    box-shadow: 0 9px 0 #264064;
    -webkit-box-shadow: 0 9px 0 #264064;
    -moz-box-shadow: 0 9px 0 #264064; */
}

/* Centers the Begin button */
.button-sub-container {
    width: 300px;
    margin: auto;
}

.angular-modal {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    width: 500px;
}

.modal-heading {
    font-size: 20px;
    text-align: center;
}

input, label {
    margin: auto;
    width: 90% !important;
}

button {
    float: right;
    margin-left: 10px !important;
}

.negative {
    background: #F06464 !important;
    width: 100px;
}

.text {
    font-size: 17px;
}

.center {
    text-align: center;
}

.row {
    padding-top: 20px;
}

.press-image {
    width: 200px;
    height: 200px;
    border-radius: 125px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin: auto;
    margin-bottom: 20px !important;
    display: block;
}

.md-track {
    height: 7px !important;
    border-radius: 6px;
    background: -webkit-linear-gradient(left, red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, blue); /* Standard syntax */
}

.small-button {
    width: 150px;
    padding: 10px;
    display: inline;
}

#start-over {
    width: 150px;
    padding: 10px;
    display: inline;
}

div.md-track.md-track-fill {
    background: rgba(0, 0, 0, 0) !important;
}

.active-item {
    background: #055C24 !important;
}

.link {
    color: white !important;
}

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}

.heading {
    display: inline-block;
    width: 49%;
    font-family: 'Lobster', sans-serif;
    font-size: 1.4em;
}

#joke-div {
    display: none;
}

.md-focus-thumb, .md-thumb {
    background-color: #ffffff;
}

.joke {
    margin-top: 20px;
}

.joke > p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    line-height: 120% !important;
}

.slider-holder {
    display: block;
    max-width: 500px;
    margin: auto !important;
}

.md-thumb, .md-focus-thumb, .md-focus-ring  {
    margin-top: 9px;
}

.button-container {
    width: 320px;
    margin: auto;
}

div.md-track {
    height: 20px !important;
    border-radius: 20px;
}

.md-primary {
    margin-bottom: 25px !important;
}

.md-dialog-container {
    position: fixed !important;
}

md-backdrop {
    position: fixed !important;
}

.md-thumb {
    background-color: #000000 !important;
}

.md-thumb:after {
    background: #b1ff70 !important;
    border: none !important;
}

md-select {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px; !important;
}

.md-select-label > span {
    display: block !important;
    margin: auto !important;
    width: 100%;
    text-align: left;
}

#select-holder {
    text-align: center;
}

.dialog-button {
    width: 100px !important;
}

.md-select-label {
    text-align: right !important;
}

.tagline {
    margin-top: 10px;
    font-size: 1.5em;
}

.italic {
    font-style: italic;
    padding-right: 0.3em;
}

footer {
    font-size: 1.2em;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.ucb_logo {
    width: 3%;
    height: 3%;
    max-width: 20px;
    max-height: 20px;
    opacity: 0.75;
}