<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jester 5.0</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>

    <!-- JS Scripts -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/highcharts-release/highcharts.js"></script>
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="js/data_visualization.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Custom style sheet -->
    <link rel="stylesheet" href="data_visualization.css">


</head>
<body ng-app="data_visualization">
<div class="content container">
    <div class="row"><h1>Jester Visualizations</h1></div>

    <div ng-controller="ratings_histogram_controller" class="visualization">
        <div class="row">
            <div class="col-md-12">
                <h3>Ratings Histogram</h3>

                <p>A histogram of all ratings submitted to Jester 5.0 <br/>Ratings are continuous and real valued on
                    the interval [-10, 10].</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="ratings_histogram" style="width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-4" id="options">
                <h4>Statistics</h4>

                <p>Bins: {{bins}}</p>
                <p>Bin Width: {{bin_width}}</p>
                <p># of Ratings: {{num_ratings}}</p>

                <p>Mean Rating: {{mean_rating | number:2}}</p>

                <p>Median Rating: {{median_rating}}</p>
                <h4>Options</h4>
                <md-checkbox class="md-hue-3" ng-model="filter_null">
                    Filter null ratings
                </md-checkbox>
                <p>Date Range:</p>

                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control ratings_hist_actual" id="ratings_hist_start_date"
                           name="start"/>
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control ratings_hist_actual" id="ratings_hist_end_date"
                           name="end"/>
                </div>
                <md-button class="md-raised" ng-click="get_histogram()" style="margin-top: 25px">Update</md-button>
            </div>
        </div>
    </div>

    <div ng-controller="num_ratings_histogram_controller" class="visualization">
        <div class="row">
            <div class="col-md-12">
                <h3>Number of Ratings/User Histogram</h3>

                <p>A histogram of all ratings submitted to Jester 5.0 <br/>Ratings are continuous and real valued on
                    the interval [-10, 10].</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="num_ratings_histogram" style="width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="col-md-4" id="options">
                <h4>Statistics</h4>

                <p>Bins: {{bins}}</p>

                <p>Bin Width: {{bin_width}}</p>

                <p># of Ratings: {{num_ratings}}</p>

                <p>Mean Rating: {{mean_rating | number:2}}</p>

                <p>Median Rating: {{median_rating}}</p>
                <h4>Options</h4>
                <md-checkbox class="md-hue-3" ng-model="filter_null">
                    Filter null ratings
                </md-checkbox>
                <p>Date Range:</p>

            </div>
        </div>
    </div>

</div>
</body>
</html>
