<md-dialog aria-label="Logout" class="angular-modal">
    <md-content class="modal-content">
        <p class="modal-heading">Logout</p>
        <p>
            Are you sure you wish to proceed? This will erase all your current progress and re-direct
            you to the Jester homepage.
        </p>
        <p><b> This action cannot be undone! </b></p>
        <md-button class="md-raised md-primary negative" ng-click="cancel()">No</md-button>
        <md-button class="md-raised md-primary positive" ng-click="submit()">Yes</md-button>
    </md-content>
</md-dialog>