<md-dialog aria-label="Register" class="angular-modal">
    <md-content class="modal-content">
        <p class="modal-heading">Join Our Mailing List</p>
        <p>Join our mailing list to be notified about any updates to the system</p>
        <md-text-float label="Email" ng-model="user.email" type="email" class="long"> </md-text-float>
        <md-button class="md-raised md-primary negative" ng-click="cancel()">Cancel</md-button>
        <md-button class="md-raised md-primary positive" ng-click="submit()">Submit</md-button>
    </md-content>
</md-dialog>